<H1> Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List some of the used libreries for Data Science</li>
    <li>List tools of the used for Data Science </li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Matlap</li>
<li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Ploty</li>
<li>Scikit-learn</li>
<li>Keras / Tensorflow</li>
</ol>

<table border="1">
    <tr><td>Data Science Tools</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>Hadoop</td></tr>
    <tr><td>MongoDB</td></tr>
</table>

<table border="1">
    <tr><td><H3>Below are a few examples of evaluating arithmetic expressions in Python</H3></td></tr>
</table>

In [11]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [12]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author</h2>
Jeison Kevin Ccana Romero